h1 {
    text-align: center;
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
}

.marker {
    width: 200px;
    height: 25px;
    margin: 10px auto;
}

.cap{
    width: 60px;
    height: 25px;
}

.sleeve{
    width: 110px;
    height: 25px;
}