.subscribe-button {
    background-color: rgb(201, 0, 0);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.5s ;
}

.subscribe-button:hover {
    opacity: 0.8;
}

.subscribe-button:active {
    opacity: 0.5;
}

.join-button {
    background-color: white;
    color: rgb(7, 140, 217);
    border-color: rgb(7, 140, 217);
    border-radius: 4px;
    height: 36px;
    width: 66px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    margin-right: 8px;
    transition: background-color 0.5s, color 0.5s, opacity 0.3s;
}

.join-button:hover {
    background-color: rgb(7, 140, 217);
    color: white;
}

.join-button:active {
    opacity: 0.6;
}

.tweet-button {
    background-color: rgb(7, 140, 217);
    color: #ffffff;
    border: none;
    height: 36px;
    width: 70px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 13px;
    transition: box-shadow 0.11s, background-color 0.11s;
}

.tweet-button:hover {
    box-shadow: 0 5px 10px  rgba(0, 0, 0, 0.25);
}

.tweet-button:active {
   background-color: rgb(7, 140, 255);
}